---

---
<section id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Contact Us</h1>
                <div class="white-line"></div>
            </div>
            <div class="col-12 col-xl-6" data-aos="fade-down">
                <div class="contact-content">
                    <p>We believe that communication is key. We want to stay in touch with you and know what is on your mind.</p>
                    <ul>
                        <li><i class="fa-solid fa-at"></i> <a href="mailto:contacto@jrmlogistics.com.mx?subject=Contacto&20;desde&20;el&20;sitio">contacto@jrmlogistics.com.mx</a></li>
                        <li><i class="fa-solid fa-phone"></i> <a href="tel:8121651777">+52 81 2165 1777</a></li>
                        <li><i class="fa-solid fa-mobile"></i> <a href="https://wa.link/tb9pkq" target="_blank">+52 81 1014 6360</a></li>
                        <li><i class="fa-solid fa-location-dot"></i>C.P. 64102, Monterrey, NL, MX</li>
                    </ul>
                </div>
            </div>
            <div class="col-0 col-xl-1">&nbsp;</div>
            <div class="col-12 col-xl-5 buttons-container" data-aos="fade-up">
                <h3>Do you want to share a comment with us?</h3>
                <p>We'll respond your message in the first opportunity, even with a simple "Hi!" would be great for us. We share below a link to access a contact form.</p>
                <a class="btn btn-primary" href="https://74408.aidaform.com/jrmlogistics-cntact-form-en">Our contact form</a>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    #contact-section {
        margin: 2rem 0;

        .contact-content {
            margin-top: 2em;

            p {
                font-size: 1.4rem;
                line-height: 1.5;
            }

            ul {
                list-style: none;
                padding: 0;
                margin-top: 3rem;

                li {
                    margin: 1.4rem 0;
                    font-size: 1.4rem;

                    i {
                        color: var(--bt-blue-color);
                        font-size: 1.4rem;
                        margin-right: 1rem;
                    }

                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 1.4rem;

                        &:hover {
                            color: var(--bt-blue-color);
                        }
                    }
                }
            }
        }

        .buttons-container {
            margin-top: 3rem;

            p {
                font-size: 14px;
                margin-top: 2rem;
            }

            .btn-primary {
                margin-top: 3rem;
            }
        }
    }
</style>