<section id="customers-section">
    <div class="container text-center">
        <dv class="row">
            <div class="col-12 text-start" data-aos="fade">
                <h1>Some of our customers</h1>
                <div class="white-line"></div>
            </div>
        </dv>
        <div class="row family-logos d-flex">
            <div class="col-12 col-xl-6">
                <img src="/assets/images/racel.svg" width="160" alt="Farmacéutica Racel, S.A. de C.V.">
            </div>
            <div class="col-12 col-xl-6">
                <img src="/assets/images/matercom.svg" width="160" alt="Matercom, S.A. de C.V.">
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    #customers-section {
        background-color: #000205;
        position: relative;
        height: 25rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        display: block;
        height: auto;

        .family-logos {
            margin: 60px 0;

            & > div {
                padding: 20px 0;
            }
        }
    }
</style>