---
---
<section id="first-content-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-12 ad-box text-end ad-courier" data-aos="fade-right">
                <div class="ad-text text-end">
                    <p>We deliver that special package hand-to-hand, as if you were delivering it to your loved one and only to them.</p>
                </div>
            </div>
            <div class="col-xl-6 col-12 ad-box ad-documents" data-aos="fade-left">
                <div class="ad-text text-left">
                    <p>We deliver digital or physical documents directly to the person or organization indicated.</p>
                </div>
            </div>
        </div>
    </div>
</section>