<section id="our-values-section">
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <h2 data-aos="fade">Our Values</h2>
            </div>
            <div class="col-12 col-xl-6 values-container">
                <ul class="text-start" data-aos="fade-right">
                    <li>Proactive and constantly updated professional team</li>
                    <li>Passion for service</li>
                    <li>Just in time deliveries</li>
                </ul>
            </div>
            <div class="col-12 col-xl-6 values-container">
                <ul class="text-end" data-aos="fade-left">
                    <li>We promote a relationship of respect, honesty and commitment</li>
                    <li>We care about the people we work with, as well as our Clients and Suppliers</li>
                </ul>
            </div>
        </div>
    </div>
</section>