---
import InnerLayout from '../../layouts/InnerLayout.astro';
import PauseSection from '../../sections/pauseSection.astro';
import Footer from '../../components/en/Footer.astro';
import InnerNavBar from '../../components/en/InnerNavBar.astro';
---

<InnerLayout title="JR Mooving Logistics :: Aviso de privacidad para clientes, proveedores y visitantes" description="Aviso de privacidad para clientes, proveedores y visitantes">
    <InnerNavBar />
	<PauseSection />

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Employee and Job Applicant Privacy Policy</h1>
                    <div class="last-update">This privacy notice was last updated on: <strong>November 15, 2023</strong>.</div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-big">Data Controller</h3>

                    <p><strong>JR MOOVING LOGISTICS S DE RL DE CV</strong> (hereinafter referred to as <strong>JR MOOVING LOGISTICS</strong>) informs you of your rights and obligations under the Federal Law on the Protection of Personal Data Held by Private Parties, and that this company will be responsible for the use and processing of such data.</p>

                    <p><strong>JR MOOVING LOGISTICS</strong> has its registered and fiscal address at Hércules No. 124; Estrella Sector Elite, Postal Code 64102, Monterrey, Nuevo León, Mexico, and its email address is: <a href="mailto:avisoprivacidad@jrmlogistics.com.mx">avisoprivacidad@jrmlogistics.com.mx</a></p>

                    <h3 class="text-big">Responsibility</h3>

                    <p><strong>JR MOOVING LOGISTICS</strong> is obligated and committed to protect all Personal Data and Sensitive Personal Data that is provided and/or collected from the <strong>HOLDER</strong>; either through any electronic means, paper format, electronic format of the <strong>JR MOOVING LOGISTICS</strong> website, telephone or any other means that has the purpose of obtaining Personal Data; Likewise, it undertakes to only use such data for the period required; or, as soon as the labor, fiscal and/or any other legislation that regulates the relationship between <strong>JR MOOVING LOGISTICS</strong> and the <strong>HOLDER</strong> of the data allows it, in accordance with and in compliance with the obligations contained in the corresponding Laws.</p>

                    <h3 class="text-big">What personal data is collected?</h3>

                    <p>"Personal Data" is considered to be any information that proves your identity, such as: Name and surname, Date of birth, Gender, Physical description, Nationality, Marital status, Address, Phone number (home or cell), Email address, Federal Taxpayer Registry (RFC), Social Security number, Unique Population Registry Key (CURP), As well as any other information that allows for the full identification of the <strong>HOLDER</strong>.</p>

                    <p><strong>JR MOOVING LOGISTICS</strong> may also collect additional Personal Data, such as: Images and sounds captured by video surveillance cameras, Information on educational level, profession, work experience, desired position or job title, desired salary, area of experience, as well as information related to the <strong>HOLDER</strong>'s curriculum vitae or job application.</p>

                    <p>This Personal Data is collected solely and exclusively because it is necessary for the security of people who visit our establishments and for the selection, evaluation, assessment and recruitment processes, in order to determine whether the <strong>HOLDER</strong>'s work profile matches the existing vacancies at <strong>JR MOOVING LOGISTICS</strong>; as well as, in the case of the <strong>HOLDER</strong>'s probable hiring and the preparation of his/her employment file at the company.</p>

                    <h3 class="text-big">Sensitive, patrimonial and financial personal data.</h3>

                    <p><strong>JR MOOVING LOGISTICS</strong> informs the HOLDER that the following "Sensitive Personal Data" may also be collected: Data related to your current or future health status, family medical history, blood type, religion, union membership, political affiliation, family data and personal references. Financial personal data related to your economic situation, current or previous monthly income, Afore, Infonavit credit, approximate value of home, rent payments, cars, debts and monthly expenses.</p>

                    <p>In addition to the above, <strong>JR MOOVING LOGISTICS</strong> informs the <strong>HOLDER</strong> that, if necessary, it will request work references from companies where the <strong>HOLDER</strong> has worked and/or will carry out psychometric tests.</p>
                    
                    <p><strong>JR MOOVING LOGISTICS</strong> is committed to ensuring that all Personal Data and/or Sensitive Personal Data that the <strong>HOLDER</strong> provides, or that <strong>JR MOOVING LOGISTICS</strong> obtains from him/her, will be treated under the strictest security measures to guarantee their confidentiality and proper use for the purposes described in this Privacy Notice.</p>
                    
                    <p>This Sensitive Personal Data is collected solely and exclusively because it is necessary for the selection, evaluation, assessment and recruitment processes, and in order to determine whether the <strong>HOLDER</strong>'s work profile matches the existing vacancies; as well as, in the case of the <strong>HOLDER</strong>'s probable hiring and the preparation of his/her employment file at the company.</p>

                    <h3 class="text-big">Secondary purpose.</h3>

                    <p>As a secondary purpose, and not being necessary for the purposes that gave rise to the processing, <strong>JR MOOVING LOGISTICS</strong> may transmit your Personal Data and/or Sensitive Personal Data to companies that require the <strong>HOLDER</strong>'s employment services.</p>

                    <p>The <strong>HOLDER</strong> may object to this secondary purpose by means of the mechanisms established by <strong>JR MOOVING LOGISTICS</strong> to limit the use or disclosure of his/her Personal Data and/or Sensitive Personal Data within a period of no more than 5 days after his/her Personal Data and/or Sensitive Personal Data has been collected, in accordance with the Federal Law on the Protection of Personal Data Held by Private Parties.</p>

                    <h3 class="text-big">Information Processing.</h3>

                    <p><strong>JR MOOVING LOGISTICS</strong> guarantees that the Personal Data and/or Sensitive Personal Data that it collects or obtains from the <strong>HOLDER</strong> will be used only and exclusively for the purposes mentioned in this privacy notice, that said information will not be accessible to or accessible by persons outside the aforementioned processes, that it will be protected with sufficient physical, administrative and technical security measures for its protection and confidentiality, and that said data will be processed only for the period of time required for the fulfillment of the purposes mentioned in this privacy notice and once these purposes have been fulfilled, it will proceed to the cancellation, blocking and elimination of the same in the times and forms indicated by the respective Laws.</p>

                    <p>Likewise, and because it is necessary for the fulfillment of the purposes mentioned in this privacy notice, <strong>JR MOOVING LOGISTICS</strong> may transfer your Personal Data and/or Sensitive Personal Data to federal or local authorities, Trade Unions and/or Financial Institutions, when the selection, evaluation, assessment and probable hiring of the <strong>HOLDER</strong> requires the analysis, opinion, background or services of said organizations and in which case, the information that is transferred will be treated in accordance with the provisions of this privacy notice.</p>

                    <p><strong>JR MOOVING LOGISTICS</strong> undertakes not to transfer your Personal Data and/or Sensitive Personal Data to any third party other than those referred to and/or unrelated to such processes without the consent of the <strong>HOLDER</strong>, except for the exceptions provided for in Article 37 of the Federal Law on the Protection of Personal Data Held by Private Parties, which reads as follows:</p>

                    <p class="annotation">"Article 37.- National or international data transfers may be carried out without the consent of the <strong>HOLDER</strong> when any of the following assumptions occurs: I. When the transfer is provided for in a Law or Treaty to which Mexico is a party; II. When the transfer is necessary for the prevention or diagnosis of a medical condition, the provision of health care, medical treatment or the management of health services; III. When the transfer is made to controlling, subsidiary or affiliated companies under the common control of the controller, or to a parent company or any company of the same group of the controller that operates under the same processes and internal policies; IV. When the transfer is necessary by virtue of a contract entered into or to be entered into in the interest of the <strong>HOLDER</strong>, by the controller and a third party; V. When the transfer is necessary or legally required for the protection of a public interest, or for the administration of justice; VI. When the transfer is necessary for the recognition, exercise or defense of a right in a judicial proceeding, and VII. When the transfer is necessary for the maintenance or fulfillment of a legal relationship between the controller and the <strong>HOLDER</strong>."</p>

                    <p>As well as to carry out this transfer in accordance with the terms established by said Law.</p>

                    <h3 class="text-big">Right to Limit the Use and Disclosure of Your Personal Data</h3>

                    <p>If the <strong>HOLDER</strong> wishes to limit the use or disclosure of his/her Personal Data and/or Sensitive Personal Data, he/she may exercise these rights free of charge and at any time, as stipulated in the Federal Law on the Protection of Personal Data Held by Private Parties in force. To do so, he/she may request a format for the delimitation of use and disclosure, through the following means:</p>

                    <p>To exercise these rights, the <strong>HOLDER</strong> may fill out the corresponding form that will be provided by <strong>JR MOOVING LOGISTICS</strong> at the following address:</p>

                    <p class="annotation">&bull; Hércules No. 124; Estrella Sector Elite, C.P. 64102, Monterrey, Nuevo León, Mexico.</p>

                    <p>The form must be accompanied by a simple copy of an official document that proves the identity of the <strong>HOLDER</strong> and include a clear and precise description of the Personal Data and/or Sensitive Personal Data with respect to which he/she will exercise any of the rights granted by the Law. He/she must also provide an email address, telephone number and address to hear and receive notifications in order to communicate the response to his/her request and any other information that facilitates the search and location of his/her data for the required purposes.</p>

                    <p>In order for the <strong>HOLDER</strong> to limit the use and disclosure of his/her personal information, we offer the following means:</p>

                    <p class="annotation">&bull; Registration in the <strong>JR MOOVING LOGISTICS</strong> Exclusion List, so that your personal data will not be processed for marketing, advertising or commercial prospecting purposes by us.</p>

                    <p>For more information, you can contact us at the contact details provided in this document.</p>

                    <h3 class="text-big">Right to Revoke Consent for the Use of Your Personal Data</h3>

                    <p>The <strong>HOLDER</strong> may revoke the consent that, in his/her case, he/she has given us for the processing of his/her personal data. However, it is important to bear in mind that we will not be able to attend to your request or conclude the use immediately in all cases, as it is possible that we may require to continue processing your Personal Data due to some legal obligation. Likewise, you should consider that for certain purposes, the revocation of your consent will imply that we will not be able to continue providing you with the service you requested, or the termination of your relationship with us.</p>

                    <p>To exercise this right, the <strong>HOLDER</strong> may fill out the corresponding form that will be provided by <strong>JR MOOVING LOGISTICS</strong> at the following address:</p>

                    <p class="annotation">&bull; Hércules No. 124; Estrella Sector Elite, C.P. 64102, Monterrey, Nuevo León, Mexico.</p>

                    <p>The form must be accompanied by a simple copy of an official document that proves the identity of the <strong>HOLDER</strong> and include a clear and precise description of the Personal Data and/or Sensitive Personal Data with respect to which he/she will exercise any of the rights granted by the Law. He/she must also provide an email address, telephone number and address to hear and receive notifications in order to communicate the response to his/her request and any other information that facilitates the search and location of his/her data for the required purposes.</p>
                    
                    <h3 class="text-big">Right to Access, Rectification, Cancellation and Opposition of Your Personal Data.</h3>

                    <p>If the <strong>HOLDER</strong> wishes to access, rectify, cancel, limit or restrict the use of his/her Personal Data and/or Sensitive Personal Data, he/she may exercise his/her right of access, rectification, cancellation or opposition to his/her Personal Data and/or Sensitive Personal Data (ARCO Rights stipulated in the Federal Law on the Protection of Personal Data Held by Private Parties in force) free of charge and at any time, through the following means:</p>

                    <p>To exercise these rights, the <strong>HOLDER</strong> may fill out the corresponding form that will be provided by <strong>JR MOOVING LOGISTICS</strong> at the following address:</p>

                    <p class="annotation">&bull; Hércules No. 124; Estrella Sector Elite, C.P. 64102, Monterrey, Nuevo León, Mexico.</p>

                    <p>The form must be accompanied by a simple copy of an official document that proves the identity of the <strong>HOLDER</strong> and include a clear and precise description of the Personal Data and/or Sensitive Personal Data with respect to which he/she will exercise any of the rights granted by the Law. He/she must also provide an email address, telephone number and address to hear and receive notifications in order to communicate the response to his/her request and any other information that facilitates the search and location of his/her data for the required purposes.</p>

                    <p><strong>JR MOOVING LOGISTICS</strong> will have a maximum period of twenty business days from the date on which the <strong>HOLDER</strong>'s request is received to inform the <strong>HOLDER</strong> of the outcome of his/her request. If the request is approved, it will be fulfilled within a maximum period of fifteen business days following the date on which the <strong>HOLDER</strong>'s request is approved.</p>

                    <p><strong>JR MOOVING LOGISTICS</strong> may deny total or partial access to the Personal Data and/or Sensitive Personal Data or to the performance of any type of rectification, cancellation or opposition to the processing thereof, when any of the assumptions set forth in the Law are met.</p>

                    <h3 class="text-big">Use of Tracking Technologies on Our Website.</h3>

                    <p>We inform you that on our website we use cookies, web beacons and other technologies through which it is possible to monitor your behavior as an Internet user, provide you with a better service and user experience when browsing our website, and offer you new products and services based on your preferences.</p>

                    <p>The personal data that we obtain from these tracking technologies are as follows: browsing hours, time spent browsing our website, sections consulted, and websites accessed prior to ours.</p>

                    <p>We also inform you that your Personal Data obtained through these technologies will not be shared with individuals, companies, organizations or authorities other than us.</p>

                    <h3 class="text-big">Modifications to the Privacy Notice.</h3>

                    <p><strong>JR MOOVING LOGISTICS</strong> reserves the right to make modifications or updates to this privacy notice at any time, in compliance with new legislation or jurisprudence, internal policies, new requirements for the provision or offering of our services or products, and market practices. In such cases, <strong>JR MOOVING LOGISTICS</strong> will make it known through its website at <a href="https://www.jrmlogistics.com.mx/en/">https://www.jrmlogistics.com.mx</a> in order to inform the <strong>HOLDER</strong> of the Personal Data.</p>
                </div>
            </div>
        </div>
    </section>
    <Footer />
</InnerLayout>

<style lang="scss">
    section {
        margin: 4rem auto;
        
        .text-big {
            font-size: 1.6rem;
            margin-bottom: 2rem;

            &:not(:first-child) {
                margin-top: 5rem;
            }
        }

        h1 {
            letter-spacing: normal;
        }

        p {
            font-size: 1.4rem;
            line-height: 2;
            opacity: 0.9;

            strong {
                font-size: 1.4rem;
                color: var(--bt-blue-color);
            }

            &.annotation {
                font-family: var(--cormorant-font);
                font-size: 1.8rem;
                line-height: 1.5;
                color: rgba(255,255,255, 0.7);
            }

            a {
                font-size: 1.4rem;
                color: #FF9900;
                text-decoration: none;

                &:hover {
                    color: var(--bt-blue-color);
                }
            }
        }

        .last-update {
            font-family: var(--cormorant-font);
            font-size: 1.8rem;
            margin-top: 4rem;
            text-align: right;

            strong {
                font-family: var(--cormorant-font);
                font-size: 1.8rem;
                color: var(--bt-blue-color);
            }
        }
    }
</style>