---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/en/Hero.astro';
import PauseSection from '../../sections/pauseSection.astro';
import OurValuesSection from '../../sections/en/ourValuesSection.astro';
import FirstContentSection from '../../sections/en/firstContentSection.astro';
import ServicesSection from '../../sections/en/servicesSection.astro';
import ContactSection from '../../sections/en/contactSection.astro';
import CostumersSection from '../../sections/en/costumersSection.astro';
import Footer from '../../components/en/Footer.astro';
import SectionContent from '../../components/SectionContent.astro';
---

<Layout title="JR Mooving Logistics :: Logística en movimiento" description="Somos una compañía dedicada a ayudarlo a crear la mejor ruta para el embarque de sus productos">
	<Hero />

	

	<SectionContent Title="Who we are?" sideImage="cargo.webp">
		<Fragment slot="SectionHTML">
			<p>We are passionate about logistics, and we are committed to providing you with the best possible service. We are always looking for ways to improve our services, and we are always willing to go the extra mile for our customers.</p>
		</Fragment>
	</SectionContent>

	<SectionContent Title="Goals" sideImage="plane.webp" Reverse=true>
		<Fragment slot="SectionHTML">
			<p>We are committed to providing you with the best possible logistics services. We understand that your needs are important, and we will work with you to find a solution that is safe, reliable, and affordable.</p>
		</Fragment>
	</SectionContent>
	
	<OurValuesSection />
	<ServicesSection />
	<PauseSection />
	<FirstContentSection />
	<ContactSection />
	<CostumersSection />
	<Footer />
</Layout>
