---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/en/Hero.astro';
import PauseSection from '../../sections/pauseSection.astro';
import OurValuesSection from '../../sections/en/ourValuesSection.astro';
import FirstContentSection from '../../sections/en/firstContentSection.astro';
import ServicesSection from '../../sections/en/servicesSection.astro';
import ContactSection from '../../sections/en/contactSection.astro';
import CostumersSection from '../../sections/en/costumersSection.astro';
import Footer from '../../components/en/Footer.astro';
import SectionContent from '../../components/SectionContent.astro';
import SectionContentSpecial from '../../components/SectionContentSpecial.astro';
import UneteTransportista from '../../sections/en/UneteTransportista.astro';
import FormaTransportistas from '../../components/en/FormaTransportistas.astro';
---

<Layout title="JR Mooving Logistics | Logistics and Transportation Services in Mexico" description="We are a company dedicated to helping you create the best route for shipping your products inside and outside the Mexican Republic." keywords='freight transportation, transportation services, logistics services, cargo transportation service, transportation of goods, logistics and transportation, logistics transportation, international logistics, logistics company, ground freight transportation, air freight logistics, international transportation, freight forwarders in Monterrey, logistics and transportation company'>
	<Hero />

	<SectionContent Title="Who we are?" sideImage="jr-mooving-logistics-us.webp" idTag="bullet-section">
		<Fragment slot="SectionHTML">
			<p>In JR Mooving Logistics, we are proud to be the comprehensive solution for your logistics needs. We are passionate about optimizing your processes and becoming your strategic partner for the success of your supply chain.</p>
			<p>We understand that the satisfaction of our customers is fundamental to our success. Therefore, we are characterized by being a highly empathetic company that cares about your well-being.</p>
		</Fragment>
	</SectionContent>

	<SectionContent Title="Goals" sideImage="goals-in-jr-mooving-logistics.webp" Reverse=true>
		<Fragment slot="SectionHTML">
			<p>At JR Mooving Logistics, we are committed to providing comprehensive logistics services of excellence, characterized by safety, high reliability and competitive investment costs.</p>
			<p>We understand that logistics is a fundamental component for the success of your business. Therefore, we are dedicated to providing comprehensive solutions that adapt to your specific needs, with the aim of optimizing your processes and reducing your costs.</p>
		</Fragment>
	</SectionContent>
	
	<OurValuesSection />
	<ServicesSection />
	<SectionContentSpecial Title="Destinations" sideImage="jr-mooving-logistics-destinations.webp">
		<Fragment slot="SectionHTML">
			<p>Our destinations within the Mexican Republic by land transportation are:</p>
			<div class="row">
				<div class="col-12 col-xl-6">
					<ul class="servicios-transporte">
						<li>
							Local Deliveries:
							<ul>
								<li>Monterrey</li>
								<li>CDMX</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="col-12 col-xl-6">
					<ul class="servicios-transporte">
						<li>
							Within Mexican Republic:
							<ul>
								<li>
									Destinations from Monterrey...
									<ul>
										<li>CDMX</li>
										<li>Queretaro</li>
										<li>Guadalajara</li>
										<li>Culiacan</li>
									</ul>
								</li>
								<li>
									Destinations from CDMX...
									<ul>
										<li>Monterrey</li>
										<li>Queretaro</li>
										<li>Guadalajara</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</Fragment>
	</SectionContent>
	<PauseSection />
	<UneteTransportista />
	<FirstContentSection />
	<ContactSection />
	<CostumersSection />
	<Footer />
	<FormaTransportistas />
</Layout>
