---
import InnerLayout from '../layouts/InnerLayout.astro';
import PauseSection from '../sections/pauseSection.astro';
import Footer from '../components/Footer.astro';
import InnerNavBar from '../components/InnerNavBar.astro';
---

<InnerLayout title="JR Mooving Logistics :: Aviso de privacidad para clientes, proveedores y visitantes" description="Aviso de privacidad para clientes, proveedores y visitantes">
    <InnerNavBar />
	<PauseSection />

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Aviso de privacidad para empleados y prospectos a emplear</h1>
                    <div class="last-update">Fecha de la última actualización al presente aviso de privacidad: <strong>15/Noviembre/2023</strong>.</div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-big">Datos del Responsable</h3>

                    <p><strong>JR MOOVING LOGISTICS S DE RL DE CV</strong> (en lo sucesivo <strong>JR MOOVING LOGISTICS</strong>) hace de su conocimiento sus derechos y obligaciones previstos en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, y que será responsabilidad de esta empresa el uso y tratamiento de los mismos.</p>

                    <p><strong>JR MOOVING LOGISTICS</strong> con domicilio social y fiscal ubicado en Hércules No. 124; Estrella Sector Elite, Código Postal 64102, Monterrey, Nuevo León, México y con dirección de correo electrónico: <a href="mailto:avisoprivacidad@jrmlogistics.com.mx">avisoprivacidad@jrmlogistics.com.mx</a></p>

                    <h3 class="text-big">Responsabilidad</h3>

                    <p><strong>JR MOOVING LOGISTICS</strong> se obliga y compromete a proteger aquellos Datos Personales y Datos Personales sensibles que sean proporcionados y/o recabados del <strong>TITULAR</strong>; ya sea, a través de cualquier medio electrónico, formato en papel, formato electrónico de la página de internet de <strong>JR MOOVING LOGISTICS</strong>, teléfono u otro que tenga como finalidad la obtención de Datos Personales; así mismo, se compromete a solamente utilizar dichos datos por el periodo que sea requerido; o bien, tan pronto las legislaciones en materia laboral, fiscal y/o cualquier otra que regule la relación entre <strong>JR MOOVING LOGISTICS</strong> y el <strong>TITULAR</strong> de los datos lo permita, de conformidad y en cumplimiento a las obligaciones contenidas en las Leyes correspondientes.</p>

                    <h3 class="text-big">&iquest;Qué datos personales se recaban?</h3>

                    <p>Se consideran “Datos Personales” cualquier información que acredite la personalidad e identidad de su persona tal y como son: Nombre(s) y apellidos, fecha de nacimiento, sexo, descripción física, nacionalidad, estado civil, domicilio, número telefónico (casa o celular), correo electrónico, Registro Federal de Contribuyente (RFC), número de Seguro Social, Clave Única de Registro de Población (CURP), así como los que permitan identificar de manera plena la personalidad del <strong>TITULAR</strong>.</p>

                    <p>Así mismo, <strong>JR MOOVING LOGISTICS</strong>, podrá recabar Datos Personales adicionales como son: imágenes y sonidos captados por las cámaras de video vigilancia, información sobre el nivel educativo, profesión, experiencia laboral, puesto o cargo deseado, sueldo deseado, área de experiencia, así como la información relacionada con el currículum vitae, o solicitud de empleo del <strong>TITULAR</strong>.</p>

                    <p>Siendo estos Datos Personales recabados única y exclusivamente por ser necesarios para la seguridad de las personas que visitan nuestros establecimientos y para los procesos de selección, evaluación, valoración y reclutamiento, a fin de determinar el apego del perfil laboral del <strong>TITULAR</strong> a las vacantes existentes en <strong>JR MOOVING LOGISTICS</strong>; al igual, que en su caso la probable contratación del <strong>TITULAR</strong> y la elaboración de su expediente laboral en la empresa.</p>

                    <h3 class="text-big">Datos personales sensibles, patrimoniales y financieros.</h3>

                    <p>JR MOOVING LOGISTICS hace del conocimiento del <strong>TITULAR</strong> que también podrán ser recabados los siguientes “Datos Personales Sensibles”: aquéllos que se refieren a su estado de salud actual o futuro, historial médico familiar, tipo de sangre, religión, afiliación sindical, política, datos familiares y referencias personales; así mismo podrán ser recabados datos personales financieros relacionados con su situación económica, percepción mensual actual o anterior, afore, crédito Infonavit, valor aproximado de casa, pago de rentas, automóviles, deudas y gastos mensuales.</p>

                    <p>Aunado a todo lo anterior, <strong>JR MOOVING LOGISTICS</strong> informa al <strong>TITULAR</strong> que de ser necesario, solicitará referencias laborales a las empresas en las que el <strong>TITULAR</strong> haya trabajado y/o llevará a cabo exámenes psicométricos.</p>

                    <p>JR MOOVING LOGISTICS se compromete a que todos los Datos Personales y/o Datos Personales Sensibles que el <strong>TITULAR</strong> le proporcione, o <strong>JR MOOVING LOGISTICS</strong> obtenga de él, serán tratados bajo las más estrictas medidas de seguridad que garanticen su confidencialidad y buen uso para las finalidades descritas en el presente Aviso de Privacidad.</p>

                    <p>Siendo estos Datos Personales Sensibles recabados única y exclusivamente por ser necesarios para los procesos de selección, evaluación, valoración, reclutamiento y a fin de determinar el apego del perfil laboral del <strong>TITULAR</strong> a las vacantes existentes; al igual, que en su caso la probable contratación del <strong>TITULAR</strong> y elaboración de su expediente laboral en la empresa.</p>

                    <h3 class="text-big">Finalidad secundaria.</h3>

                    <p>Como finalidad secundaria y no siendo esta necesaria para aquellas finalidades que dieron origen al tratamiento, <strong>JR MOOVING LOGISTICS</strong> podrá transmitir sus Datos Personales y/o Datos Personales Sensibles a empresas que requieran de los servicios laborales del <strong>TITULAR</strong>.</p>

                    <p>El <strong>TITULAR</strong> podrá oponerse a dicha finalidad secundaria por medio de los mecanismos establecidos por <strong>JR MOOVING LOGISTICS</strong> para limitar el uso o divulgación de sus Datos Personales y/o Datos Personales Sensibles en un lapso no mayor a 5 días de recabados sus Datos Personales y/o Datos Personales Sensibles, de conformidad con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.</p>

                    <h3 class="text-big">Tratamiento de la Información.</h3>

                    <p>JR MOOVING LOGISTICS garantiza que los Datos Personales y/o Datos Personales Sensibles que recabe u obtenga del <strong>TITULAR</strong> serán utilizados única y exclusivamente para los fines mencionados en el presente aviso de privacidad, que dicha información no estará al alcance ni se podrá acceder a ella por personas ajenas a los procesos mencionados, que estarán protegidos con las medidas de seguridad físicas, administrativas y técnicas suficientes para su protección y confidencialidad y que dichos datos serán tratados solamente por el período de tiempo que sea requerido para el cumplimiento de los fines mencionados en el presente aviso de privacidad y una vez cumplidos estos fines se procederá a la cancelación, bloqueo y eliminación de los mismos en los tiempos y formas que las Leyes respectivas lo indiquen.</p>

                    <p>De igual manera, y por ser necesario para el cumplimiento de los fines mencionados por este aviso de privacidad, <strong>JR MOOVING LOGISTICS</strong> podrá transferir sus Datos Personales y/o Datos Personales Sensibles a autoridades federales o locales, Asociaciones Sindicales y/o Instituciones Financieras, cuando los procesos de selección, evaluación, valoración y la probable contratación del <strong>TITULAR</strong> requieran del análisis, opinión, antecedente o servicios de dichos organismos y en cuyo caso, la información que sea transferida será tratada con apego a lo estipulado por este aviso de privacidad.</p>

                    <p>JR MOOVING LOGISTICS se compromete a no transferir sus Datos Personales y/o Datos personales sensibles a ningún tercero distinto a los referidos y/o ajeno a tales procesos sin el consentimiento del <strong>TITULAR</strong>, salvo las excepciones previstas en el artículo 37 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares que a la letra dice:</p>

                    <p class="annotation">“Artículo 37.- Las transferencias nacionales o internacionales de datos podrán llevarse a cabo sin el consentimiento del <strong>TITULAR</strong> cuando se dé alguno de los siguientes supuestos: I. Cuando la transferencia esté prevista en una Ley o Tratado en los que México sea parte; II. Cuando la transferencia sea necesaria para la prevención o el diagnóstico médico, la prestación de asistencia sanitaria, tratamiento médico o la gestión de servicios sanitarios; III. Cuando la transferencia sea efectuada a sociedades controladoras, subsidiarias o afiliadas bajo el control común del responsable, o a una sociedad matriz o a cualquier sociedad del mismo grupo del responsable que opere bajo los mismos procesos y políticas internas; IV. Cuando la transferencia sea necesaria por virtud de un contrato celebrado o por celebrar en interés del <strong>TITULAR</strong>, por el responsable y un tercero; V. Cuando la transferencia sea necesaria o legalmente exigida para la salvaguarda de un interés público, o para la procuración o administración de justicia; VI. Cuando la transferencia sea precisa para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial, y VII. Cuando la transferencia sea precisa para el mantenimiento o cumplimiento de una relación jurídica entre el responsable y el <strong>TITULAR</strong>.”</p>

                    <p>Así como a realizar esta transferencia con apego a los términos que fija dicha Ley.</p>

                    <h3 class="text-big">Derecho a limitar el uso y divulgación de sus Datos Personales.</h3>

                    <p>Si el <strong>TITULAR</strong> desea limitar el uso o divulgación de sus Datos Personales y/o Datos Personales Sensibles podrá ejercer de manera gratuita y en cualquier momento dichos derechos estipulados en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares vigente, para lo cual podrá solicitar un formato para la delimitación de uso y divulgación, por el siguiente medio:</p>

                    <p>Para el ejercicio de dichos derechos el <strong>TITULAR</strong> podrá llenar el formato correspondiente que será proporcionado por <strong>JR MOOVING LOGISTICS</strong> en la siguiente dirección: </p>

                    <p class="annotation">&bull; Hércules No. 124; Estrella Sector Elite, Código Postal 64102, Monterrey, Nuevo León, México.</p>

                    <p>El formato deberá ir acompañado de una copia simple de un documento oficial que acredite la identidad del <strong>TITULAR</strong> e incluir una descripción clara y precisa de los Datos Personales y/o Datos Personales Sensibles respecto de los cuales ejercitará cualquiera de los derechos que le confiere la Ley, así mismo deberá proporcionar un correo electrónico, número telefónico y dirección para oír y recibir notificaciones a fin de comunicarle la respuesta a su petición y cualquier otra información que facilite la búsqueda y localización de sus datos para los fines requeridos.</p>

                    <p>Así mismo con objeto de que el <strong>TITULAR</strong> pueda limitar el uso y divulgación de su información personal, le ofrecemos el siguiente medio:</p>

                    <p class="annotation">&bull; Su registro en el Listado de Exclusión de <strong>JR MOOVING LOGISTICS</strong>, a fin de que sus datos personales no sean tratados para fines mercadotécnicos, publicitarios o de prospección comercial por nuestra parte.</p>

                    <p>Para mayor información podrá dirigirse a los datos de contacto establecidos en el presente documento.</p>

                    <h3 class="text-big">Derecho a la revocación del consentimiento para el uso de sus datos personales</h3>

                    <p>El <strong>TITULAR</strong> puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus Datos Personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.</p>

                    <p>Para el ejercicio de dicho derecho el <strong>TITULAR</strong> podrá llenar el formato correspondiente que será proporcionado por <strong>JR MOOVING LOGISTICS</strong> en la siguiente dirección:</p>

                    <p class="annotation">&bull; Hércules No. 124; Estrella Sector Elite, Código Postal 64102, Monterrey, Nuevo León, México.</p>

                    <p>El formato deberá ir acompañado de una copia simple de un documento oficial que acredite la identidad del <strong>TITULAR</strong> e incluir una descripción clara y precisa de los Datos Personales y/o Datos Personales Sensibles respecto de los cuales ejercitará cualquiera de los derechos que le confiere la Ley, así mismo deberá proporcionar un correo electrónico, número telefónico y dirección para oír y recibir notificaciones a fin de comunicarle la respuesta a su petición y cualquier otra información que facilite la búsqueda y localización de sus datos para los fines requeridos.</p>
                    
                    <h3 class="text-big">Derecho al Acceso, Rectificación, Cancelación y Oposición de sus Datos Personales.</h3>

                    <p>Si el <strong>TITULAR</strong> desea acceder, rectificar, cancelar, limitar o restringir el uso de sus Datos Personales y/o Datos Personales Sensibles podrá ejercer de manera gratuita y en cualquier momento su derecho de acceso, rectificación, cancelación u oposición de sus Datos Personales y/o Datos Personales Sensibles (Derechos ARCO estipulados en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares vigente), por el siguiente medio:</p>

                    <p>Para el ejercicio de dichos derechos el <strong>TITULAR</strong> podrá llenar el formato correspondiente que será proporcionado por <strong>JR MOOVING LOGISTICS</strong> en la siguiente dirección:</p>

                    <p class="annotation">&bull; Hércules No. 124; Estrella Sector Elite, Código Postal 64102, Monterrey, Nuevo León, México.</p>

                    <p>El formato deberá ir acompañado de una copia simple de un documento oficial que acredite la identidad del <strong>TITULAR</strong> e incluir una descripción clara y precisa de los Datos Personales y/o Datos Personales Sensibles respecto de los cuales ejercitará cualquiera de los derechos que le confiere la Ley, así mismo deberá proporcionar un correo electrónico, número telefónico y dirección para oír y recibir notificaciones a fin de comunicarle la respuesta a su petición y cualquier otra información que facilite la búsqueda y localización de sus datos para los fines requeridos.</p>

                    <p>JR MOOVING LOGISTICS tendrá un plazo de máximo veinte días hábiles contados a partir de la fecha en que se reciba la solicitud del <strong>TITULAR</strong> para informar al <strong>TITULAR</strong> sobre la procedencia de su solicitud, en caso afirmativo se atenderá lo solicitado por el <strong>TITULAR</strong> en un plazo no mayor a quince días hábiles siguientes a la fecha de la que se acepte la procedencia de la solicitud llevada a cabo por el <strong>TITULAR</strong>.</p>

                    <p>JR MOOVING LOGISTICS podrá negar el acceso total o parcial de los Datos Personales y/o Datos Personales Sensibles o a la realización de cualquier tipo de rectificación, cancelación u oposición al tratamiento de los mismos, cuando se encuentre de los supuestos enmarcados en la Ley.</p>

                    <h3 class="text-big">El uso de las tecnologías de rastreo en nuestro portal de Internet.</h3>

                    <p>Le informamos que en nuestra página de Internet utilizamos cookies, web beacons y otras tecnologías a través de las cuales es posible monitorear su comportamiento como usuario de Internet, brindarle un mejor servicio y experiencia de usuario al navegar en nuestra página, así como ofrecerle nuevos productos y servicios basados en sus preferencias.</p>

                    <p>Los datos personales que obtenemos de estas tecnologías de rastreo son los siguientes: horario de navegación, tiempo de navegación en nuestra página de Internet, secciones consultadas, y páginas de Internet accedidas previo a la nuestra.</p>

                    <p>Así mismo, le informamos que sus Datos Personales que se obtienen a través de estas tecnologías no serán compartidos con personas, empresas, organizaciones o autoridades distintas a nosotros.</p>

                    <h3 class="text-big">Modificaciones al Aviso de Privacidad.</h3>

                    <p><strong>JR MOOVING LOGISTICS</strong> se reserva el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad, en cumplimiento de novedades legislativas o jurisprudenciales, políticas internas, nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios o productos y prácticas del mercado; de ser así, <strong>JR MOOVING LOGISTICS</strong> lo dará a conocer a través de su página de Internet en <a href="https://www.jrmlogistics.com.mx">https://www.jrmlogistics.com.mx</a> a efecto de enterar al <strong>TITULAR</strong> de los Datos Personales.</p>
                </div>
            </div>
        </div>
    </section>

    <Footer />
</InnerLayout>

<style lang="scss">
    section {
        margin: 4rem auto;
        
        .text-big {
            font-size: 1.6rem;
            margin-bottom: 2rem;

            &:not(:first-child) {
                margin-top: 5rem;
            }
        }

        h1 {
            letter-spacing: normal;
        }

        p {
            font-size: 1.4rem;
            line-height: 2;
            opacity: 0.9;

            strong {
                font-size: 1.4rem;
                color: var(--bt-blue-color);
            }

            &.annotation {
                font-family: var(--cormorant-font);
                font-size: 1.8rem;
                line-height: 1.5;
                color: rgba(255,255,255, 0.7);
            }

            a {
                font-size: 1.4rem;
                color: #FF9900;
                text-decoration: none;

                &:hover {
                    color: var(--bt-blue-color);
                }
            }
        }

        .last-update {
            font-family: var(--cormorant-font);
            font-size: 1.8rem;
            margin-top: 4rem;
            text-align: right;

            strong {
                font-family: var(--cormorant-font);
                font-size: 1.8rem;
                color: var(--bt-blue-color);
            }
        }
    }
</style>