---
import InnerLayout from '../layouts/InnerLayout.astro';
import PauseSection from '../sections/pauseSection.astro';
---

<InnerLayout title="JR Mooving Logistics :: Aviso de privacidad para clientes, proveedores y visitantes" description="Aviso de privacidad para clientes, proveedores y visitantes">

	<!-- <PauseSection /> -->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Aviso de privacidad para clientes, proveedores y visitantes</h1>
                    <div class="last-update">Fecha de la última actualización al presente aviso de privacidad: <strong>15/Noviembre/2023</strong>.</div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-big">Datos del Responsable</h3>

                    <p><strong>JR MOOVING LOGISTICS S DE RL DE CV</strong> (en lo sucesivo <strong>JR MOOVING LOGISTICS</strong>) hace de su conocimiento sus derechos y obligaciones previstos en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, y que será responsabilidad de esta empresa el uso y tratamiento de los mismos.</p>

                    <p><strong>JR MOOVING LOGISTICS</strong> con domicilio social y fiscal ubicado en Hércules No. 124; Estrella Sector Elite, Código Postal 64102, Monterrey, Nuevo León, México y con dirección de correo electrónico: <a href="mailto:avisoprivacidad@jrmlogistics.com.mx">avisoprivacidad@jrmlogistics.com.mx</a></p>

                    <h3 class="text-big">Responsabilidad</h3>

                    <p><strong>JR MOOVING LOGISTICS</strong> se obliga y compromete a proteger aquellos Datos Personales que sean proporcionados y/o recabados del <strong>TITULAR</strong>; ya sea, a través de cualquier medio electrónico, formato en papel, formato electrónico de la página de internet de <strong>JR MOOVING LOGISTICS</strong>, teléfono u otro que tenga como finalidad la obtención de Datos Personales; así mismo, se compromete a solamente utilizar dichos datos por el periodo que sea requerido; o bien, tan pronto las legislaciones en materia laboral, fiscal y/o cualquier otra que regule la relación entre <strong>JR MOOVING LOGISTICS</strong> y el <strong>TITULAR</strong> de los datos lo permita, de conformidad y en cumplimiento a las obligaciones contenidas en las Leyes correspondientes.</p>

                    <h3 class="text-big">&iquest;Qué datos personales se recaban?</h3>

                    <p>Se consideran “Datos Personales” cualquier información que acredite la personalidad e identidad de su persona tal y como son: Nombres y apellidos, fecha de nacimiento, sexo, domicilio, número telefónico (casa o celular), correo electrónico, Registro Federal de Contribuyente (RFC), Número de Cuenta Bancaria, Número CLABE, imágenes y sonidos captados por las cámaras de video vigilancia y/o los que permitan identificar de manera plena la personalidad del <strong>TITULAR</strong>.</p>

                    <p>Siendo estos Datos Personales recabados con la finalidad de identificarlo y contactarlo para proveer o solicitar información, servicios y productos derivados de su relación de cliente y/o proveedor de <strong>JR MOOVING LOGISTICS</strong>, así como llevar acabo los procesos de alta como proveedor o cliente de <strong>JR MOOVING LOGISTICS</strong>, los tramites de facturación o pago y la vigilancia en general de empleados y visitantes en las instalaciones de <strong>JR MOOVING LOGISTICS</strong>.</p>

                    <p><strong>JR MOOVING LOGISTICS</strong> se compromete a que todos los Datos Personales que el <strong>TITULAR</strong> le proporcione, o <strong>JR MOOVING LOGISTICS</strong> obtenga de él, serán tratados bajo las más estrictas medidas de seguridad que garanticen su confidencialidad y buen uso para las finalidades descritas en el presente Aviso de Privacidad.</p>

                    <h3 class="text-big">Tratamiento de la Información</h3>

                    <p><strong>JR MOOVING LOGISTICS</strong> garantiza que los Datos Personales que recabe u obtenga del <strong>TITULAR</strong> serán utilizados única y exclusivamente para los fines mencionados en el presente aviso de privacidad, que dicha información no estará al alcance ni se podrá acceder a ella por personas ajenas a los procesos mencionados, que estarán protegidos con las medidas de seguridad físicas, administrativas y técnicas suficientes para su protección y confidencialidad y que dichos datos serán tratados solamente por el período de tiempo que sea requerido para el cumplimiento de los fines mencionados en el presente aviso de privacidad y una vez cumplidos estos fines se procederá a la cancelación, bloqueo y eliminación de los mismos en los tiempos y formas que las Leyes respectivas lo indiquen.</p>

                    <p><strong>JR MOOVING LOGISTICS</strong> se compromete a no transferir sus Datos Personales a ningún tercero sin el consentimiento del <strong>TITULAR</strong>, salvo las excepciones previstas en el artículo 37 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, así como a realizar esta transferencia con apego a los términos que fija dicha Ley que a la letra dice:</p>

                    <p class="annotation">“Artículo 37.- Las transferencias nacionales o internacionales de datos podrán llevarse a cabo sin el consentimiento del titular cuando se dé alguno de los siguientes supuestos: I. Cuando la transferencia esté prevista en una Ley o Tratado en los que México sea parte; II. Cuando la transferencia sea necesaria para la prevención o el diagnóstico médico, la prestación de asistencia sanitaria, tratamiento médico o la gestión de servicios sanitarios; III. Cuando la transferencia sea efectuada a sociedades controladoras, subsidiarias o afiliadas bajo el control común del responsable, o a una sociedad matriz o a cualquier sociedad del mismo grupo del responsable que opere bajo los mismos procesos y políticas internas; IV. Cuando la transferencia sea necesaria por virtud de un contrato celebrado o por celebrar en interés del titular, por el responsable y un tercero; V. Cuando la transferencia sea necesaria o legalmente exigida para la salvaguarda de un interés público, o para la procuración o administración de justicia; VI. Cuando la transferencia sea precisa para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial, y VII. Cuando la transferencia sea precisa para el mantenimiento o cumplimiento de una relación jurídica entre el responsable y el titular.”</p>

                    <h3 class="text-big">Derecho a limitar el uso y divulgación de sus Datos Personales</h3>

                    <p>Si el <strong>TITULAR</strong> desea limitar el uso o divulgación de sus Datos Personales podrá ejercer de manera gratuita y en cualquier momento dichos derechos estipulados en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares vigente, para lo cual podrá solicitar un formato para la delimitación de uso y divulgación, por el siguiente medio:</p>

                    <p>Para el ejercicio de dichos derechos el <strong>TITULAR</strong> podrá llenar el formato correspondiente que será proporcionado por <strong>JR MOOVING LOGISTICS</strong> en la siguiente dirección: </p>

                    <p class="annotation">&bull; Hércules No. 124; Estrella Sector Elite, Código Postal 64102, Monterrey, Nuevo León, México.</p>

                    <p>El formato deberá ir acompañado de una copia simple de un documento oficial que acredite la identidad del <strong>TITULAR</strong> e incluir una descripción clara y precisa de los Datos Personales respecto de los cuales ejercitará cualquiera de los derechos que le confiere la Ley, así mismo deberá proporcionar un correo electrónico, número telefónico y dirección para oír y recibir notificaciones a fin de comunicarle la respuesta a su petición y cualquier otra información que facilite la búsqueda y localización de sus datos para los fines requeridos.</p>

                    <p>Así mismo con objeto de que el <strong>TITULAR</strong> pueda limitar el uso y divulgación de su información personal, le ofrecemos el siguiente método:</p>

                    <p class="annotation">&bull; Su registro en el Listado de Exclusión de <strong>JR MOOVING LOGISTICS</strong>, a fin de que sus datos personales no sean tratados para fines mercadotécnicos, publicitarios o de prospección comercial por nuestra parte.</p>

                    <p>Para mayor información podrá dirigirse a los datos de contacto establecidos en el presente documento.</p>

                    <h3 class="text-big">Derecho a la revocación del consentimiento para el uso de sus datos personales</h3>

                    <p>El <strong>TITULAR</strong> puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus Datos Personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.</p>

                    <p>Para el ejercicio de dicho derecho el <strong>TITULAR</strong> podrá llenar el formato correspondiente que será proporcionado por <strong>JR MOOVING LOGISTICS</strong> en la siguiente dirección: </p>

                    <p class="annotation">&bull; Hércules No. 124; Estrella Sector Elite, Código Postal 64102, Monterrey, Nuevo León, México.</p>

                    <p>El formato deberá ir acompañado de una copia simple de un documento oficial que acredite la identidad del <strong>TITULAR</strong> e incluir una descripción clara y precisa de los Datos Personales respecto de los cuales ejercitará cualquiera de los derechos que le confiere la Ley, así mismo deberá proporcionar un correo electrónico, número telefónico y dirección para oír y recibir notificaciones a fin de comunicarle la respuesta a su petición y cualquier otra información que facilite la búsqueda y localización de sus datos para los fines requeridos.</p>
                    
                    <h3 class="text-big">Derecho al Acceso, Rectificación, Cancelación y Oposición de sus Datos Personales.</h3>

                    <p>Si el <strong>TITULAR</strong> desea acceder, rectificar, cancelar u oponerse al tratamiento de sus Datos Personales podrá ejercer de manera gratuita y en cualquier momento su derecho de acceso, rectificación, cancelación u oposición de sus Datos Personales (Derechos ARCO estipulados en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares vigente).</p>

                    <p>Para el ejercicio de dichos derechos el <strong>TITULAR</strong> podrá llenar el formato correspondiente que será proporcionado por <strong>JR MOOVING LOGISTICS</strong> en la siguiente dirección:</p>

                    <p class="annotation">&bull; Hércules No. 124; Estrella Sector Elite, Código Postal 64102, Monterrey, Nuevo León, México.</p>

                    <p>El formato deberá ir acompañado de una copia simple de un documento oficial que acredite la identidad del <strong>TITULAR</strong> e incluir una descripción clara y precisa de los Datos Personales respecto de los cuales ejercitará cualquiera de los derechos que le confiere la Ley, así mismo deberá proporcionar un correo electrónico, número telefónico y dirección para oír y recibir notificaciones a fin de comunicarle la respuesta a su petición y cualquier otra información que facilite la búsqueda y localización de sus datos para los fines requeridos.</p>

                    <p><strong>JR MOOVING LOGISTICS</strong> tendrá un plazo de máximo veinte días hábiles contados a partir de la fecha en que se reciba la solicitud del <strong>TITULAR</strong> para informar al <strong>TITULAR</strong> sobre la procedencia de su solicitud, en caso afirmativo se atenderá lo solicitado por el <strong>TITULAR</strong> en un plazo no mayor a quince días hábiles siguientes a la fecha de la que se acepte la procedencia de la solicitud llevada a cabo por el <strong>TITULAR</strong>.</p>

                    <p><strong>JR MOOVING LOGISTICS</strong> podrá negar el acceso total o parcial de los Datos Personales o a la realización de cualquier tipo de rectificación, cancelación u oposición al tratamiento de los mismos, cuando se encuentre de los supuestos enmarcados en la Ley.</p>

                    <h3 class="text-big">El uso de las tecnologías de rastreo en nuestro portal de Internet.</h3>

                    <p>Le informamos que en nuestra página de Internet utilizamos cookies, web beacons y otras tecnologías a través de las cuales es posible monitorear su comportamiento como usuario de Internet, brindarle un mejor servicio y experiencia de usuario al navegar en nuestra página, así como ofrecerle nuevos productos y servicios basados en sus preferencias.</p>

                    <p>Los datos personales que obtenemos de estas tecnologías de rastreo son los siguientes: horario de navegación, tiempo de navegación en nuestra página de Internet, secciones consultadas, y páginas de Internet accedidas previo a la nuestra.</p>

                    <p>Así mismo, le informamos que sus Datos Personales que se obtienen a través de estas tecnologías no serán compartidos con personas, empresas, organizaciones o autoridades distintas a nosotros.</p>

                    <h3 class="text-big">Modificaciones al Aviso de Privacidad.</h3>

                    <p><strong>JR MOOVING LOGISTICS</strong> se reserva el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad, en cumplimiento de novedades legislativas o jurisprudenciales, políticas internas, nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios o productos y prácticas del mercado; de ser así, <strong>JR MOOVING LOGISTICS</strong> lo dará a conocer a través de su página de Internet en <a href="https://www.jrmlogistics.com.mx">https://www.jrmlogistics.com.mx</a> a efecto de enterar al <strong>TITULAR</strong> de los Datos Personales.</p>
                </div>
            </div>
        </div>
    </section>

</InnerLayout>

<style lang="scss">
    section {
        margin: 4rem auto;
        
        .text-big {
            font-size: 1.6rem;
            margin-bottom: 2rem;

            &:not(:first-child) {
                margin-top: 5rem;
            }
        }

        h1 {
            letter-spacing: normal;
        }

        p {
            font-size: 1.4rem;
            line-height: 2;
            opacity: 0.9;

            strong {
                font-size: 1.4rem;
                color: var(--bt-blue-color);
            }

            &.annotation {
                font-family: var(--cormorant-font);
                font-size: 1.8rem;
                line-height: 1.5;
                color: rgba(255,255,255, 0.7);
            }

            a {
                font-size: 1.4rem;
                color: #FF9900;
                text-decoration: none;

                &:hover {
                    color: var(--bt-blue-color);
                }
            }
        }

        .last-update {
            font-family: var(--cormorant-font);
            font-size: 1.8rem;
            margin-top: 4rem;
            text-align: right;

            strong {
                font-family: var(--cormorant-font);
                font-size: 1.8rem;
                color: var(--bt-blue-color);
            }
        }
    }
</style>