---
import Layout from '../layouts/Layout.astro';
import SectionContent from '../components/SectionContent.astro';
import SectionContentSpecial from '../components/SectionContentSpecial.astro';
import Hero from '../components/Hero.astro';
import PauseSection from '../sections/pauseSection.astro';
import OurValuesSection from '../sections/ourValuesSection.astro';
import FirstContentSection from '../sections/firstContentSection.astro';
import ServicesSection from '../sections/servicesSection.astro';
import UneteTransportista from '../sections/UneteTransportista.astro';
import ContactSection from '../sections/contactSection.astro';
import CostumersSection from '../sections/costumersSection.astro';
import FormaTransportistas from '../components/FormaTransportistas.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="JR Mooving Logistics | Servicios de logística y transporte en México" description="Somos una compañía dedicada a ayudarlo a crear la mejor ruta para el embarque de sus productos dentro y fuera de la República Mexicana" keywords='freight transportation, transportation services, logistics services, cargo transportation service, transportation of goods, logistics and transportation, logistics transportation, international logistics, logistics company, ground freight transportation, air freight logistics, international transportation, freight forwarders in Monterrey, logistics and transportation company'>
	<Hero />

	<SectionContent Title="Nosotros" sideImage="jr-mooving-logistics-nosotros.webp" idTag="bullet-section">
		<Fragment slot="SectionHTML">
			<p>En JR Mooving logistics, nos sentimos orgullosos de ser la solución integral para sus necesidades logísticas. Nos apasiona optimizar sus procesos y convertirnos en su aliado estratégico para el éxito de su cadena de suministro.</p>
			<p>Comprendemos que la satisfacción de nuestros clientes es fundamental para nuestro éxito. Por ello, nos caracterizamos por ser una empresa altamente empática que se preocupa por su bienestar.</p>
		</Fragment>
	</SectionContent>

	<SectionContent Title="Objetivo" sideImage="objetivos-en-jr-mooving-logistics.webp" Reverse=true>
		<Fragment slot="SectionHTML">
			<p>En JR Mooving Logistics, nuestro compromiso es brindar un servicio integral de logística de excelencia, caracterizado por la seguridad, la alta confiabilidad y los costos de inversión competitivos.
			</p>
			<p>Entendemos que la logística es un componente fundamental para el éxito de su negocio. Por ello, nos dedicamos a proporcionar soluciones integrales que se adapten a sus necesidades específicas, con el objetivo de optimizar sus procesos y reducir sus costos.</p>
		</Fragment>
	</SectionContent>
	
	<OurValuesSection />
	<ServicesSection />
	<SectionContentSpecial Title="Destinos" sideImage="jr-mooving-logistics-destinos.webp">
		<Fragment slot="SectionHTML">
			<p>Nuestros destinos dentro de la República Mexicana por transportación terrestre son:</p>
			<div class="row">
				<div class="col-12 col-xl-6">
					<ul class="servicios-transporte">
						<li>
							Servicio Local:
							<ul>
								<li>Monterrey</li>
								<li>CDMX</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="col-12 col-xl-6">
					<ul class="servicios-transporte">
						<li>
							Dentro de la República:
							<ul>
								<li>
									De Monterrey a...
									<ul>
										<li>CDMX</li>
										<li>Querétaro</li>
										<li>Guadalajara</li>
										<li>Culiacan</li>
									</ul>
								</li>
								<li>
									De CDMX a...
									<ul>
										<li>Monterrey</li>
										<li>Querétaro</li>
										<li>Guadalajara</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</Fragment>
	</SectionContent>
	<PauseSection />
	<UneteTransportista />
	<FirstContentSection />
	<ContactSection />
	<CostumersSection />
	<Footer />
	<FormaTransportistas />
</Layout>
