---
import Layout from '../layouts/Layout.astro';
import BulletSection from '../components/BulletSection.astro';
import PauseSection from '../sections/pauseSection.astro';
import OurValuesSection from '../sections/ourValuesSection.astro';
import AdsSection from '../sections/adsSection.astro';
import ServicesSection from '../sections/servicesSection.astro';
---

<Layout title="JR Mooving Logistics :: Logística en movimiento" description="Somos una compañía dedicada a ayudarlo a crear la mejor ruta para el embarque de sus productos">
	<header id="main-hero">
		<div class="container">
			<div class="row">
				<!-- <h2 class="text-center">Hero section</h2> -->
				<div id="frase-1">
					<img src="/assets/images/frase-1.png" alt="" />
				</div>
			</div>
		</div>
	</header>

	<AdsSection />

	<BulletSection
		title='Nosotros'
		content='<p>Nos enorgullece ser la solución a sus tareas de logística, buscando adecuar cada una de las acciones que requiera, buscando ser siempre empáticos con sus necesidades y siempre pendientes a su bienestar.</p>'
		reverse={false}
		background='clouds-1.jpg' />
	<BulletSection
		title='Objetivo'
		content='<p>Nuestro objetivo es proporcionar una excelente calidad de servicio integral en logística, que sea segura y con alta confiabilidad con costo de inversión competitiva para satisfacer sus necesidades.</p>'
		reverse={true}
		background='clouds-2.jpg' />
	
	<OurValuesSection />

	<ServicesSection />

	<PauseSection />

	<section id="contact-section">
		<div class="container">
			<div class="row">
				<div class="col-12 col-xl-6">
					Info
				</div>
				<div class="col-12 col-xl-6">
					Forma
				</div>
			</div>
		</div>
	</section>
</Layout>
