<div id="new-logo">
    <svg width="100%" height="100%" viewBox="0 0 1042 264" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
        <g transform="matrix(1,0,0,1,-8498,-6523.69)">
            <g id="Artboard6" transform="matrix(1,0,0,1,-0.823895,312.745)">
                <rect x="8498.82" y="6210.95" width="1042" height="264" style="fill:none;"/>
                <g transform="matrix(0.83823,0,0,0.83823,5779.24,4934.89)">
                    <g transform="matrix(1.09471,0,0,1.12498,1550.6,299.366)">
                        <path d="M1759.68,1337.08L1832.34,1337.08L1832.34,1320.95L1777.59,1320.95L1777.59,1204.26L1759.68,1204.26L1759.68,1337.08Z" style="fill:rgb(1,173,238);fill-rule:nonzero;"/>
                        <path d="M1882.95,1338.81C1914.77,1338.81 1937.26,1315.05 1937.26,1286.68L1937.26,1286.39C1937.26,1258.02 1915.06,1234.55 1883.25,1234.55C1851.43,1234.55 1828.94,1258.31 1828.94,1286.68L1828.94,1286.97C1828.94,1315.33 1851.13,1338.81 1882.95,1338.81ZM1883.25,1322.53C1862.67,1322.53 1848.03,1306.26 1848.03,1286.68L1848.03,1286.39C1848.03,1266.81 1862.38,1250.82 1882.95,1250.82C1903.52,1250.82 1918.17,1267.09 1918.17,1286.68L1918.17,1286.97C1918.17,1306.55 1903.81,1322.53 1883.25,1322.53Z" style="fill:rgb(1,173,238);fill-rule:nonzero;"/>
                        <path d="M1996.6,1338.81C2014.95,1338.81 2029.6,1331.61 2039.81,1323.11L2039.81,1280.77L1995.71,1280.77L1995.71,1296.18L2022.2,1296.18L2022.2,1315.05C2015.84,1319.65 2006.96,1322.68 1997.19,1322.68C1976.03,1322.68 1961.97,1307.41 1961.97,1286.68L1961.97,1286.39C1961.97,1267.09 1976.47,1250.82 1995.56,1250.82C2008.73,1250.82 2016.58,1255 2024.57,1261.62L2036.11,1248.23C2025.45,1239.45 2014.36,1234.55 1996.3,1234.55C1965.08,1234.55 1942.88,1258.45 1942.88,1286.68L1942.88,1286.97C1942.88,1316.34 1964.19,1338.81 1996.6,1338.81Z" style="fill:rgb(1,173,238);fill-rule:nonzero;"/>
                        <rect x="2054.16" y="1236.28" width="18.202" height="100.8" style="fill:rgb(1,173,238);fill-rule:nonzero;"/>
                        <path d="M2125.93,1338.52C2147.69,1338.52 2162.93,1327.29 2162.93,1308.42L2162.93,1308.13C2162.93,1291.43 2151.53,1283.8 2129.63,1278.61C2109.8,1274.01 2105.07,1270.55 2105.07,1262.77L2105.07,1262.49C2105.07,1255.86 2111.28,1250.53 2121.94,1250.53C2131.41,1250.53 2140.73,1254.13 2150.05,1260.9L2159.82,1247.51C2149.31,1239.3 2137.33,1234.84 2122.23,1234.84C2101.66,1234.84 2086.87,1246.79 2086.87,1264.07L2086.87,1264.36C2086.87,1282.93 2099.3,1289.27 2121.35,1294.45C2140.58,1298.77 2144.73,1302.66 2144.73,1309.86L2144.73,1310.15C2144.73,1317.78 2137.62,1322.82 2126.38,1322.82C2113.5,1322.82 2103.59,1318.07 2093.67,1309.72L2082.72,1322.39C2095.15,1333.19 2110.1,1338.52 2125.93,1338.52Z" style="fill:rgb(1,173,238);fill-rule:nonzero;"/>
                        <path d="M2203.18,1337.08L2221.53,1337.08L2221.53,1252.69L2254.38,1252.69L2254.38,1236.28L2170.33,1236.28L2170.33,1252.69L2203.18,1252.69L2203.18,1337.08Z" style="fill:rgb(1,173,238);fill-rule:nonzero;"/>
                        <rect x="2267.26" y="1236.28" width="18.202" height="100.8" style="fill:rgb(1,173,238);fill-rule:nonzero;"/>
                        <path d="M2344.95,1338.81C2364.33,1338.81 2376.17,1331.89 2386.97,1320.95L2375.28,1309.43C2366.4,1317.49 2358.26,1322.53 2345.54,1322.53C2325.71,1322.53 2311.35,1306.41 2311.35,1286.68L2311.35,1286.39C2311.35,1266.66 2325.71,1250.82 2345.54,1250.82C2357.38,1250.82 2366.25,1255.86 2374.54,1263.35L2386.23,1250.25C2376.32,1241.03 2364.78,1234.55 2345.68,1234.55C2314.31,1234.55 2292.26,1258.02 2292.26,1286.68L2292.26,1286.97C2292.26,1315.91 2314.76,1338.81 2344.95,1338.81Z" style="fill:rgb(1,173,238);fill-rule:nonzero;"/>
                        <path d="M2433.44,1338.52C2455.19,1338.52 2470.43,1327.29 2470.43,1308.42L2470.43,1308.13C2470.43,1291.43 2459.04,1283.8 2437.14,1278.61C2417.31,1274.01 2412.57,1270.55 2412.57,1262.77L2412.57,1262.49C2412.57,1255.86 2418.79,1250.53 2429.44,1250.53C2438.91,1250.53 2448.24,1254.13 2457.56,1260.9L2467.33,1247.51C2456.82,1239.3 2444.83,1234.84 2429.74,1234.84C2409.17,1234.84 2394.37,1246.79 2394.37,1264.07L2394.37,1264.36C2394.37,1282.93 2406.8,1289.27 2428.85,1294.45C2448.09,1298.77 2452.23,1302.66 2452.23,1309.86L2452.23,1310.15C2452.23,1317.78 2445.13,1322.82 2433.88,1322.82C2421.01,1322.82 2411.09,1318.07 2401.18,1309.72L2390.23,1322.39C2402.66,1333.19 2417.6,1338.52 2433.44,1338.52Z" style="fill:rgb(1,173,238);fill-rule:nonzero;"/>
                    </g>
                    <g transform="matrix(1,0,0,1,1432.92,83.7684)">
                        <g transform="matrix(1.09471,0,0,1.12498,117.683,81.4876)">
                            <path d="M1759.68,1337.08L1777.59,1337.08L1777.59,1265.08L1809.99,1312.31L1810.59,1312.31L1843.29,1264.79L1843.29,1337.08L1861.49,1337.08L1861.49,1236.28L1842.11,1236.28L1810.59,1283.94L1779.07,1236.28L1759.68,1236.28L1759.68,1337.08Z" style="fill:rgb(1,173,238);fill-rule:nonzero;"/>
                            <path d="M2136.44,1337.8L2152.42,1337.8L2195.49,1236.28L2175.8,1236.28L2144.73,1313.75L2113.5,1236.28L2093.38,1236.28L2136.44,1337.8Z" style="fill:rgb(1,173,238);fill-rule:nonzero;"/>
                            <rect x="2208.36" y="1236.28" width="18.202" height="100.8" style="fill:rgb(1,173,238);fill-rule:nonzero;"/>
                            <path d="M2245.35,1337.08L2263.26,1337.08L2263.26,1265.37L2320.38,1337.08L2335.62,1337.08L2335.62,1236.28L2317.72,1236.28L2317.72,1305.97L2262.22,1236.28L2245.35,1236.28L2245.35,1337.08Z" style="fill:rgb(1,173,238);fill-rule:nonzero;"/>
                            <path d="M2396.59,1338.81C2414.94,1338.81 2429.59,1331.61 2439.8,1323.11L2439.8,1280.77L2395.7,1280.77L2395.7,1296.18L2422.19,1296.18L2422.19,1315.05C2415.83,1319.65 2406.95,1322.68 2397.18,1322.68C2376.02,1322.68 2361.96,1307.41 2361.96,1286.68L2361.96,1286.39C2361.96,1267.09 2376.47,1250.82 2395.55,1250.82C2408.72,1250.82 2416.57,1255 2424.56,1261.62L2436.1,1248.23C2425.45,1239.45 2414.35,1234.55 2396.3,1234.55C2365.07,1234.55 2342.87,1258.45 2342.87,1286.68L2342.87,1286.97C2342.87,1316.34 2364.18,1338.81 2396.59,1338.81Z" style="fill:rgb(1,173,238);fill-rule:nonzero;"/>
                        </g>
                        <g transform="matrix(1,0,0,1,-3.58947,316.065)">
                            <path d="M2226.68,1271.55C2226.62,1271.55 2226.57,1271.55 2226.51,1271.55C2221.69,1271.55 2217.06,1271.04 2212.68,1270.08C2185.41,1264.12 2167.39,1240.72 2167.39,1213.23L2167.39,1212.91C2167.39,1180.99 2192.01,1154.26 2226.84,1154.26C2251.41,1154.26 2270.74,1167.41 2279.99,1186.35C2277.75,1189.54 2275.56,1192.78 2273.41,1196.04C2270.53,1200.39 2267.73,1204.75 2264.9,1208.96C2263.11,1188.73 2247.67,1172.57 2226.51,1172.57C2204,1172.57 2188.28,1190.55 2188.28,1212.58L2188.28,1212.91C2188.28,1230.05 2197.99,1244.93 2212.91,1250.7C2217.12,1252.32 2221.74,1253.22 2226.68,1253.24C2226.73,1253.24 2226.78,1253.24 2226.84,1253.24C2228.64,1253.24 2230.41,1253.13 2232.12,1252.9C2256.15,1249.84 2270,1226.6 2285.29,1203.45C2292.76,1192.14 2300.57,1180.86 2310.08,1171.95C2318.27,1164.28 2327.72,1158.38 2339.3,1155.75C2343.66,1154.79 2348.25,1154.28 2353.03,1154.26C2353.09,1154.26 2353.14,1154.26 2353.2,1154.26C2358.02,1154.26 2362.65,1154.77 2367.03,1155.73C2394.29,1161.69 2412.32,1185.09 2412.32,1212.58L2412.32,1212.91C2412.32,1244.82 2387.7,1271.55 2352.87,1271.55C2328.6,1271.55 2309.45,1258.73 2300.06,1240.16C2302.47,1236.72 2304.81,1233.21 2307.1,1229.68C2309.74,1225.63 2312.3,1221.56 2314.89,1217.62C2316.99,1237.49 2332.31,1253.24 2353.2,1253.24C2375.71,1253.24 2391.43,1235.26 2391.43,1213.23L2391.43,1212.91C2391.43,1195.76 2381.72,1180.88 2366.8,1175.12C2362.59,1173.49 2357.97,1172.59 2353.03,1172.57C2352.98,1172.57 2352.93,1172.57 2352.87,1172.57C2351.07,1172.57 2349.32,1172.68 2347.61,1172.91C2323.28,1176 2309.86,1199.82 2294.56,1223.28C2278.7,1247.61 2260.83,1271.55 2226.68,1271.55Z" style="fill:rgb(1,173,238);"/>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</div>

<style lang="scss">
    #new-logo {
        display: inline-block;
        width: 140px;
        position: absolute;
        top: -4px;
        left: 0;
        animation: fadeLogo 10s ease-in-out 5s infinite forwards;

        @media screen and (max-width: 880px){
            top: 10px;
            left: 0;
        }

        svg {
            fill: rgba(255, 255, 255, 1);
        }
    }
</style>