---
import Logo from './Logo.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
---

<nav class="nav-desktop">
    <div class="d-flex justify-content-between">
        <ul class="d-flex justify-content-center">
            <li><a href="#main-hero">Inicio</a></li>
            <li><a href="#bullet-section">Nosotros</a></li>
            <li><a href="#our-values-section">Valores</a></li>
            <li><a href="/"><Logo /></a></li>
            <li><a href="#services-section">Servicios</a></li>
            <li><a href="#destinations-section">Destinos</a></li>
            <li><a href="#first-content-section">Anuncios</a></li>
            <li><a href="#contact-section">Contacto</a></li>
        </ul>
        <div class="change-lang">
            <a href={getRelativeLocaleUrl("es", "en")}><img src="/assets/images/flags/us.jpg" width="30" /></a>
        </div>
    </div>
</nav>
<nav class="nav-mobile">
    <div class="d-flex justify-content-between">
        <div class="logo">
            <a href="/"><Logo /></a>
        </div>
        <div class="contact-menu d-flex justify-content-between">
            <div class="contact-email d-none d-xl-block">
                <a href="mailto:#">contacto@jrmlogistics.com.mx</a>
            </div>
            <div class="menu">
                <a href="#" class="amenu"><span></span></a>

                <div class="popup-menu d-none">
                    <ul>
                        <li><a href="#main-hero">Encabezado</a></li>
                        <li><a href="#bullet-section">Nosotros</a></li>
                        <li><a href="#our-values-section">Valores</a></li>
                        <li><a href="#services-section">Servicios</a></li>
                        <li><a href="#destinations-section">Destinos</a></li>
                        <li><a href="#first-content-section">Anuncios</a></li>
                        <li><a href="#contact-section">Contacto</a></li>
                        <li><a href={getRelativeLocaleUrl("es", "en")}><img src="/assets/images/flags/us.jpg" width="30" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    const popMenu = document.querySelector('div.popup-menu');
    const mainMenu = document.querySelector('.amenu');
    const outside = document.querySelector('body');

    mainMenu.addEventListener('click', (ev) => {
        ev.preventDefault();
        mainMenu.classList.toggle('close');
        popMenu.classList.toggle('d-none');
        popMenu.classList.toggle('open-menu');
    });
</script>

<style lang="scss">
    nav {
        height: 5rem;
        background-color: rgba(0,0,0,0.4);
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        width: 100%;
        display: block;
        padding: 1.5rem 3rem;
        z-index: 10;
        backdrop-filter: blur(10px);

        ul {
            list-style: none;
            width: 100%;
            gap: 40px;

            li {
                a {
                    font-family: var(--sarpanch-font);
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    text-decoration: none;
                    color: var(--bt-blue-color);

                    &:hover {
                        color: white;
                    }
                }
            }
        }

        &.nav-desktop {
            display: block;

            @media screen and (max-width: 880px){
                display: none;
            }
        }

        &.nav-mobile {
            display: none;

            @media screen and (max-width: 880px){
                display: block;
            }
        }

        .contact-menu {
            display: block;
            gap: 5rem;

            .contact-email {
                display: inline-block;
                
                a {
                    color: rgba(255, 255, 255, 0.8);
                    text-decoration: none;
                    font-family: 'Sarpanch', sans-serif;
                    font-size: 1.2rem;
                    letter-spacing: 3px;
                    
                    &:hover {
                        color: var(--bt-blue-color);
                    }
                }
            }
            
            .menu {
                position: relative;
                display: inline-block;
                width: 3rem;
                height: 1rem;
                top: 0.8rem;

                a {
                    display: inline-block;
                    // width: 2rem;
                    // height: 2rem;

                    span {
                        position: relative;
                        display: inline-block;
                        background-color: var(--bt-blue-color);
                        width: 2rem;
                        height: 1px;
                        vertical-align: middle;

                        &::before {
                            content: '';
                            position: absolute;
                            background-color: var(--bt-blue-color);
                            width: 3rem;
                            height: 1px;
                            top: -1rem;
                            
                        }
                    }

                    &.close {
                        span {
                            transform: rotate(45deg);
                            width: 2rem;
                            top: -0.5rem;

                            &::before {
                                transform: rotate(-90deg);
                                width: 2rem;
                                top: 0;
                            }
                        }
                    }
                }

                .popup-menu {
                    position: absolute;
                    display: block;
                    background-color: #323232;
                    width: 20rem;
                    right: 0.5rem;
                    top: 3rem;
                    margin: 0;
                    padding: 0;
                    filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.5));

                    &::before {
                        content: '';
                        position: absolute;
                        display: block;
                        width: 2rem;
                        height: 2rem;
                        top: -2rem;
                        right: 0;
                        border-style: solid;
                        border-width: 0 20px 20px 20px;
                        border-color: transparent transparent #323232 transparent;
                    }
                    
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        li {
                            padding: 0.6rem 1rem 0.6rem 2rem;
                            border-top: 1px solid transparent;
                            border-bottom: 1px solid transparent;
                            line-height: 2;

                            &:hover {
                                background-color: rgba(0,0,0,0.3);
                                padding-left: 3rem;
                                border-color: var(--bt-blue-color);

                                a {
                                    color: var(--bt-blue-color);
                                }
                            }

                            a {
                                color: rgba(255, 255, 255, 0.6);
                                text-decoration: none;
                                font-size: 1rem;
                                font-family: 'Sarpanch', sans-serif;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
</style>