---
import { getRelativeLocaleUrl } from 'astro:i18n';
---
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-2">
                <div class="logo-ft">
                    <img src="/assets/images/footer-logo.webp" alt="">
                </div>
                <p>&copy;2024 <strong>JR Mooving Logistics</strong>.<br />All Rights Reserved</p>
            </div>
            <div class="col-12 col-xl-3 company-context">
                <p>In early February 2015, we began offering comprehensive logistics services, carrying out local and national freight in Mexico.</p>
                <p>In September 2020, with uncertainty due to the closure of businesses nationwide due to the COVID19 pandemic, we started operations as JR MOOVING LOGISTICS.</p>
            </div>
            <div class="col-xl-1 d-xl-block d-none">&nbsp;</div>
            <div class="col-6 col-xl-4 company-context">
                <h3>Privacy notices</h3>
                <ul>
                    <li><a href="./aviso-de-privacidad-clientes">Privacy notices for customers</a></li>
                    <li><a href="./aviso-de-privacidad-empleados">Employee Privacy Notices</a></li>
                    <!-- <li><a href={getRelativeLocaleUrl("es", "aviso-de-privacidad-empleados")}>Employee Privacy Notices</a></li> -->
                </ul>
            </div>
            <div class="col-6 col-xl-2 company-context">
                <ul class="social">
                    <li><a href="https://www.linkedin.com/company/jr-mooving-logistics/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://www.facebook.com/jrmoovinglogistics" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-end">
                <a href="https://www.bicho.tech/" class="bt-branding" target="_blank">Powered by BichoTech</a>
            </div>
        </div>
    </div>
</footer>

<style lang="scss">
    footer {
        padding: 3rem 0;
        background-color: rgb(0, 0, 0);

        .company-context {
            padding-top: 2rem;
        }

        .bt-branding {
            font-family: var(--sarpanch-font);
            text-transform: uppercase;
            text-decoration: none;
            color: orangered;
            font-size: 0.9rem;
        }

        p {
            font-size: 1.1rem;
            color: rgba(255, 255, 255, 0.7);
        }

        .logo-ft {
            display: block;
            width: 100%;
            margin-bottom: 2rem;
            // text-align: center;

            img {
                width: 70%;
            }
        }

        h3 {
            color: var(--bt-blue-color);
        }

        ul {
            list-style: none;
            margin-top: 2rem;

            li {
                a {
                    font-family: var(--sarpanch-font);
                    font-size: 1rem;
                    display: block;
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    text-transform: uppercase;
                    margin: 1rem 0;

                    &:hover {
                        color: var(--bt-blue-color);
                    }
                }
            }

            &.social {
                text-align: right;
                margin-top: 0;

                li {
                    display: inline-block;
                    margin-right: 1rem;

                    a {
                        i {
                            font-size: 2rem;
                         
                            &:hover {
                                color: var(--bt-blue-color);
                            }
                        }
                    }
                }
            }
        }
    }
</style>