---
import NavBar from '../en/NavBar.astro';
---
<header id="main-hero">
    <NavBar />
    <div class="hero-back"></div>
    <div class="container">
        <div class="row">
            <!-- <h2 class="text-center">Hero section</h2> -->
            <div id="frase-1">
                <img src="/assets/images/frase-en.webp" alt="Start an outstanding path alongside" />
            </div>
        </div>
    </div>
</header>

<style lang="scss">

</style>
