<section id="ads-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-12 ad-box text-end ad-courier">
                <div class="ad-text text-end">
                    <p>Entregamos ese encargo especial mano a mano como si lo entregaras tu a la persona amada y solo a ella.</p>
                </div>
            </div>
            <div class="col-xl-6 col-12 ad-box ad-documents">
                <div class="ad-text text-left">
                    <p>Entregamos documentos digitales o físicos de manera directa a la persona u organización indicada.</p>
                </div>
            </div>
        </div>
    </div>
</section>