<section id="our-values-section">
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <h2>Nuestros Valores</h2>
            </div>
            <div class="col-12 col-xl-6 values-container">
                <ul class="text-start">
                    <li>Equipo profesional proactivo y en constante actualización</li>
                    <li>Pasión por el servicio</li>
                    <li>Entregas justo a tiempo</li>
                </ul>
            </div>
            <div class="col-12 col-xl-6 values-container">
                <ul class="text-end">
                    <li>Promovemos una relación de respeto, honestidad y compromiso</li>
                    <li>Nos importan las personas con quienes trabajamos, así como nuestros Clientes y Proveedores</li>
                </ul>
            </div>
        </div>
    </div>
</section>