<section id="our-values-section">
    <div class="fluid-container text-center">
        <div class="row">
            <div class="col-12">
                <h2 data-aos="fade">Nuestros Valores</h2>
            </div>
            <div class="col-12 col-xl-6 values-container">
                <ul class="text-start" data-aos="fade-right">
                    <li>Equipo profesional proactivo y en constante actualización</li>
                    <li>Pasión por el servicio</li>
                    <li>Entregas justo a tiempo</li>
                </ul>
            </div>
            <div class="col-12 col-xl-6 values-container">
                <ul class="text-end" data-aos="fade-left">
                    <li>Promovemos una relación de respeto, honestidad y compromiso</li>
                    <li>Nos importan las personas con quienes trabajamos, así como nuestros Clientes y Proveedores</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    #our-values-section {
        background-color: black;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background-image: radial-gradient(circle, rgba(1,173,238,1) 0%, rgba(1,173,238,0) 50%);
            bottom: 0;
            z-index: 1;
        }

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background-image: radial-gradient(circle, rgba(1,173,238,1) 0%, rgba(1,173,238,0) 50%);
            top: 0;
            z-index: 1;
        }

        .fluid-container {
            position: relative;
            background-image: url('/assets/images/jrmooving-entregas-en-todo-el-mundo.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .row {
            padding: 7rem 5rem;

            @media (width < 1200px){
                padding: 7rem 2rem;
            }
        }

        h2 {
            margin-bottom: 5rem;
        }
        .values-container {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                
                li {
                    font-size: 1.4rem;
                    margin: 2rem;
                }
            }
        }
    }
</style>