---
interface props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content={description} />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

	<title>{title}</title>

	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="icon" type="image/png" href="/favicon.png" />
	<link rel="canonical" href="https://jrmlogistics.com.mx" />
	<meta name="generator" content={Astro.generator} />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Montserrat:wght@300;700&family=Sarpanch&display=swap" rel="stylesheet">
</head>

<body>
	
	<slot />

	<script src="https://kit.fontawesome.com/975c1f34c7.js" crossorigin="anonymous"></script>
</body>
</html>